{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "assets/css/amazeui.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/app.css" %}">
    <style>
        .am-g {
          margin: 0 auto;
          width: 100%;
        }
    </style>
    <title>Title</title>
</head>
<body>
    <table border="1" class="am-table am-table-bordered am-table-striped">
        <thead>
            <tr>
                <th>sdsd</th>
                <th>sdsd</th>
                <th>sdsd</th>
                <th>sdsd</th>
                <th>sdsd</th>
            </tr>
        </thead>
        <tbody>
            {% for article in article_list %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.url }}</td>
                <td><img style="height:80px" src="{{ article.portal.url }}"/></td>
                <td>{{ article.author }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>